---
layout: blog_base.ejs
pagination: 
 data: articles
 size: 12
 alias: article
changefreq: weekly
priority: 1
---

<!------------------- PRELOAD --------------------->
<div id="Preloader">
  <div id="LogoWrapper">
    <img src="/Assets/Icons/logo.png" />
  </div>
</div>

<!------------------- NAVIGATE ----------------->

<div id="Navigate"></div>
<div id="LoaderContainer">
  <div id="LoaderInner">
    <div id="SpinnerOne" class="spin"></div>
    <div id="SpinnerTwo" class="spin"></div>
    <div id="SpinnerThree" class="spin"></div>
    <div id="SpinnerFour" class="spin"></div>
  </div>
</div>

<div id="NavigateOverlay"></div>

<!------------------- WELCOME SECTION --------------------->
<div id="WelcomeSection">
  <canvas id="WelcomeParticles"></canvas>
  <img src="/Assets/Images/Blog/curve.png" />
</div>
<div class="nav-links">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog" style="font-weight: bold;">Blog</a></li>
    <li><a href="https://pg-blog-cms.herokuapp.com/admin/">Login</a></li>
  </ul>
</div>

<!------------------- DIVIDER SECTION -------------------->
<div class="vertical-divider">
  <div class="divider parallax-element height down opacityShow"></div>
</div>



<!------------------- BLOG SECTION -------------------->

  <div class="row blog-posts justify-content-md-center">
    <% pagination.items.forEach (item => { %>
    <div class="col-md-4 col-sm-12">
      <a href="/blog/show/<%=item.slug%>">
        <div class="blog-post">
          <img src="<%=item.img%>" alt="<%=item.imgName%>"  width="360px">
          <h2><%=item.title%></h2>
          <p class="summary"><%=item.summary%>...</p>
        </div>
      </a>
    </div>
    <% }) %>
  </div>




<!-- Pagination -->
<div class="pagination-container">
  <div class="pagination">
    <% if (pagination.pageNumber != 0) { %>
        <a href="<%=pagination.href.first%>">&laquo;</a>
        <a href="<%=pagination.href.previous%>" class="previous">Prev</a>
    <% } %>

    <% for (var j = 0; j < pagination.pages.length; j++) { %>
      <a href="<%=pagination.hrefs[j]%>" 
        <% if (pagination.pageNumber == j) { %>
          class="active"
        <% } %>
        ><%=j%></a>
    <% } %>
    <% if (pagination.pageNumber < (pagination.pages.length - 1)) { %>
      <a href="<%=pagination.href.next%>" class="next">Next</a>
      <a href="<%=pagination.href.last%>">&raquo;</a>
      
    <% } %>
  </div>
</div>